body { 
    padding-top: 70px;
    
}

#message{
height:80%;
width:75%;
background-color:green;
border-style:solid;
text-align:center;

overflow: auto;

}

.chat{
position:fixed;
right:20px;
bottom:0px;
}
     
          
.navbar-inverse .navbar-nav>li>a {
color:white;
}
.navbar-inverse .navbar-nav>li>a:hover {
 color:#abb9f8;
}
