header { 
    padding-top: 70px;
    
}
body { 
    padding-top: 70px;
    
}

          
.navbar-inverse .navbar-nav>li>a {
              color:white;
          }
.navbar-inverse .navbar-nav>li>a:hover {
               color:#abb9f8;
          }
#photoprofil img{
    border-radius:20px;
    border:2px solid #aaa;
}